In [44]:
list1=['Ram','Raheem','Robert']


list2=[25,30,35]

In [45]:
'Ram has age 25'
'Raheem has age 30'
'Robert has age 35'

'Robert has age 35'

In [46]:
for i,j in zip(list1,list2):
    print(i,j)

Ram 25
Raheem 30
Robert 35

In [ ]:
# {key:value}

In [47]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}
d1

# keys='Ram','Raheem','Robert'
# values=25,30,35

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [ ]:
{'Ram':25,'Raheem':30,'Robert':35}

In [ ]:
d2={25:'Ram',30:'Raheem'30:'Robert'}

In [50]:
d4={[2,6,4]:'even',
   (3,5,7):'odd'}

TypeError: unhashable type: 'list'

In [ ]:
d3={'even':[2,6,4],
   'odd':(3,5,7)}

In [51]:
d4={(2,6,4):'even',
   (3,5,7):'odd'}
d4

{(2, 6, 4): 'even', (3, 5, 7): 'odd'}

In [52]:
#{'key':<{}>}
d5={'item_list':{'fruits':'apple'}}
d5

{'item_list': {'fruits': 'apple'}}

In [53]:
d6={{'fruits':'Apple'}:'item_list'}
d6

TypeError: unhashable type: 'dict'

In [ ]:
a=[1,2]
b=[1,2]

In [54]:
a,b=[1,2]
c,d=(1,2)
d

2

In [55]:
a=(1,2)
a

(1, 2)

In [56]:
d1={'A':1,'B':2,'A':1}
d1

{'A': 1, 'B': 2}

In [57]:
d1={'A':1,'B':2,'A':3}
d1

{'A': 3, 'B': 2}

- Dictionary is a key:value pair
- at values position you cant take any data type
- at keys position list and dictionary will fail
- Duplicates are not allowed
- if you will update a key values,latest value it will take

$Type$

In [58]:
type(d1)

dict

- str
- list
- dict
- int
- float
- bool
- complex
- tuple
- set

In [59]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}
max(d1)
# this maximum we are getting based on key or value

'Robert'

- maximum and minimum value based on key only

In [60]:
min(d1)
'Ram',   ord('m')
'Raheem',ord('h')
'Robert'

'Robert'

In [61]:
len(d1)

3

In [62]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [63]:
d2={100:2,300:4}
sum(d2)

400

- if keys has numeric then we can do sum


completed topics
- type
- len
- max
- min
- sum

In [ ]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}
# 'Ram':25 in d1   # fails

'Ram':in d1  # works
    
# 25 in d1   # fails

# only keys will be run

In [64]:
str1='apple'
'a' in str1

list1=[1,2,3]
1 in list1

for i in list1:
    print(i)

1
2
3

$Index$

In [65]:
list1=[10,20,30,40]
list1[0]

str1='apple'
str1[0]

'a'

In [66]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}
d1[0]

KeyError: 0

In [67]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}
d1['Ram']

# can we get values using for loop

25

In [68]:
for key in d1:
    print("the age of {},is {}".format(key,d1[key]))

the age of Ram,is 25
the age of Raheem,is 30
the age of Robert,is 35

In [69]:
for key in d1:
    print(key)

Ram
Raheem
Robert

In [70]:
for i in range(len(list1)):
    print(i,list1[i])

0 10
1 20
2 30
3 40

In [71]:
for key in range(len(d1)):
    print(key)
    # print("the age of {},is {}".format(key,d1[key]))

0
1
2

 Creating a empty dictionary and update

In [73]:
s=' '
for i in 'apple':
    s=s+i
    
print(s)

 apple

In [9]:
# WAP take 5 random numbers
# and create a dictionary with even and odd
# output:'even:[20,22]','odd':[19,21,23]
# step-1: take empty ditionary
# step-2: take two even and odd list
# step-3: import random
# step-4: for i in range(5):
# step-5: num=random.randint(a,b)
# step-6: if<even>:
# step-7: append the value in even list
# step-8: else:
# step-9: append the value in odd list
# step-10: create dictionary

import random
d1={}
even=[]
odd=[]
for i in range(5):
    num=random.randint(1,10)
    if num%2==0:
        print("even.append the values in even list{}:".format(num))
        even.append(num)
    else:
        print("odd.append the value in odd list{}:".format(num))
        odd.append(num)
d1['even']=even
d1['odd']=odd
d1

even.append the values in even list4:
even.append the values in even list6:
odd.append the value in odd list1:
odd.append the value in odd list3:
even.append the values in even list6:

{'even': [4, 6, 6], 'odd': [1, 3]}

In [11]:
import os

In [12]:
os.getcwd()

'C:\\Users\\ysait\\OneDrive\\Untitled Folder'

$DICTIONARY METHODS$

In [41]:
dir({})

# str=''
#

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [3]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}

In [4]:
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [5]:
#items
items=d1.items()
items

dict_items([('Ram', 25), ('Raheem', 30), ('Robert', 35)])

In [6]:
#keys
keys=d1.keys()
keys

dict_keys(['Ram', 'Raheem', 'Robert'])

In [7]:
# values
d1.values

In [11]:
type(keys)

dict_keys

In [14]:
# values
values=d1.values()
values

dict_values([25, 30, 35])

In [15]:
type(values)

dict_values

In [12]:
l1=[25,30,35]
l1.append(400)
l1

[25, 30, 35, 400]

In [16]:
values                           # i want to convert into a list
values_list=list(values)
values_list                # then you can apply list methods

[25, 30, 35]

In [8]:
keys
keys_list=list(keys)
keys_list

['Ram', 'Raheem', 'Robert']

In [ ]:
# i will give the dictionary
#

# i will give two list keys and values
# can you create a dictinary

In [17]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}

keys=list(d1.keys())
values=list(d1.values())

In [20]:
keys,values

(['Ram', 'Raheem', 'Robert'], [25, 30, 35])

In [22]:
{i:j for i,j in zip(keys,values)}

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [24]:
d1={}
for i in range(len(keys)):
    d1[keys[i]]=values[i]    # d1=[keys[0]]=values[0]   d1['Ram']=25
    
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [25]:
dict(zip(keys,values))

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [26]:
s1='virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'

# {'first_name':['Virat','Rohit','KL'],
# 'Second_name':['Kohli','Sharma','Rahul'],
# 'company':['blr','mumbai','lucknow']}

In [17]:
d1={}
list1=["virat","rohit","kl"]
list2=["kohli","sharma","rahul"]
list3=["blr","mumbai","lucknow"]
d1["first_name"]=list1
d1["second_name"]=list2
d1["third_name"]=list3
d1

{'first_name': ['virat', 'rohit', 'kl'],
 'second_name': ['kohli', 'sharma', 'rahul'],
 'third_name': ['blr', 'mumbai', 'lucknow']}

In [29]:
s1.split(',')

['virat.kohli@blr.com', 'Rohit.sharma@mumbai.com', 'kl.rahul@lucknow.com']

In [40]:
s1='virat.kohli@blr.com'
d1={}
f_name=[str1[:str1.find(',')] for str1 in s1.split(',')]
s_name=[str1[str1.find(',')+1:str1.find('@')] for str1 in s1.split(',')]
c_name=[str1[str1.find('@')+1:str1.find(',',str1.find(',')+1)] for str1 in s1.split(',')]
f_name,s_name,c_name

d1["first_name"]=f_name
d1["second_name"]=s_name
d1["company_name"]=c_name
d1

{'first_name': ['virat.kohli@blr.co'],
 'second_name': ['virat.kohli'],
 'company_name': ['blr.co']}

$ Words-frequency $

In [41]:
'can can you canner can you able to can canner'
#{'can':4,'you':2,'canner':2,'able':1,'to':1}

# d={}
# step-1: split the str1=======> you will get a list
# step-2: iterate loop=========> each word will print
# step-3: list1.count(<word>): number
# step-4: make the dictinary
    
str1='can can you canner can you able to can canner'    
l1=str1.split(' ')       #step-1
d1={}

for i in l1:              # step-2
    d1[i]=l1.count(i)     # step-3
d1

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [42]:
str1='can can you canner can you able to can canner'
str1.split()

['can', 'can', 'you', 'canner', 'can', 'you', 'able', 'to', 'can', 'canner']

In [20]:
keys=list(d1.values())

In [21]:
values=list(d1.values())

In [23]:
keys,values

([4, 2, 2, 1, 1], [4, 2, 2, 1, 1])

In [24]:
i=max(values)

In [25]:
values.index(i)

0

In [26]:
keys[values.index(max(values))]

4

In [27]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}

# o/p={'a':70,'b':30,'c':240}

In [28]:
d1= {'a':20,'b':30,'c':40}
d2= {'a':50,'b':100,'c':200}
for i in d2:
    d1[i]+=d2[i]
d1

{'a': 70, 'b': 130, 'c': 240}

In [55]:
d1= {'a':20,'b':30,'c':40}
d2= {'a':50,'b':100,'c':200}
d3={}
if len(d1)==len(d2):
    for i in d1:
        d3[i]=d1[i]+d2[i]
        # d3['a']=d1['a']+d2['a']
        
d3

{'a': 70, 'b': 130, 'c': 240}

In [37]:
d1= {'a':20,'b':30,'c':40,'d':500}
d2= {'a':50,'b':100,'c':200}
d3={}
if (len(d1)==len(d2)):
     for i in d1:
        d3[i]=d1[i]+d2[i]
        # d3['a']=d1['a']+d2['a']
d1

{'a': 20, 'b': 30, 'c': 40, 'd': 500}

$Clear-Copy$

In [1]:
# take one dictionary
# take second dictionary
# copy first dict into second
# clear first dict
# and print both

d1={'a':20,'b':30,'c':40,'d':500}  #
d2=d1.copy()
d1.clear()
print(d1)  # {}
print(d2)  #{'a':20,'b':30,'c':40,'d':500}

{}
{'a': 20, 'b': 30, 'c': 40, 'd': 500}

In [38]:
# take one dictionary
# take second dictionary
# copy first dict into second
# clear first dict
# and print both

d1={'a':50,'b':60,'c':70}
d2=d1.copy()
d1.clear()
print(d1)
print(d2)

{}
{'a': 50, 'b': 60, 'c': 70}

$pop-popitem-del$

In [ ]:
- what is pop
      - pop will remove specify key
      - return item
- what is popitem
      - remove the last value 
      - return the pair
- what is del
      - del is a keyword
      -

In [2]:
d2

{'a': 20, 'b': 30, 'c': 40, 'd': 500}

In [3]:
d2.pop('a')

20

In [4]:
d2.popitem()

('d', 500)

In [6]:
# del is a keyword
del d2['c']

In [7]:
d2

{'b': 30}

In [9]:
l1=[10,20,30,40,50]
del l1[1]   # list is access by index

In [10]:
l1

[10, 30, 40, 50]

In [12]:
del(d2)

NameError: name 'd2' is not defined

In [ ]:
d1={'a':1,'b':2,'c':3}
del d1['c']

d1.pop('c')

d1.popitem()   # LIFO
######################################
del(d1)

- items/values/keys
- if i provide two list you know how to make dict
- if i provide dict,you know how to generate list
- create an empty string/list/dictionary
- counter
- summ
- function
- pop/popitem/del
- copy/clear

$fromkeys-get$

In [39]:
d1={'a':20,'b':30,'c':40,'d':500}
d1['c']

40

In [40]:
d1.get('c')

40

In [17]:
d1.get('z')

In [18]:
d1['z']

KeyError: 'z'

- How many ways we can do
- what output it is returning
- what is the difference
- we can access the values by providing key as index and key in get method
- but if the key is not present in dictionary,key as index will give key error
- get method will not return anything and no error

$ fromkeys $

it creates a new dictionary
create a new dictionary from the given sequence of elements
create new dictionary with iterable key

In [21]:
d2=d1.fromkeys('himesh',25)
d2

{'h': 25, 'i': 25, 'm': 25, 'e': 25, 's': 25}

In [22]:
d1

{'a': 20, 'b': 30, 'c': 40, 'd': 500}

In [23]:
name='teju'
new=name.capitalize()

In [24]:
name,new

('teju', 'Teju')

In [25]:
d3={}.fromkeys([1,3,5],'odd')
d3

{1: 'odd', 3: 'odd', 5: 'odd'}

In [26]:
for i in[1,3,5]:
    print(i)

1
3
5

 set as default

-returns value of the key
-if key is not present returns default

In [28]:
d1={}
d1.setdefault('nareshit','Ds')
d1.setdefault('city')
d1.setdefault('nareshit',['Ds','MLops','DE'])
d1['nareshit']=['Ds','MLops','DE']
d1.setdefault('city','hys')
d1

{'nareshit': ['Ds', 'MLops', 'DE'], 'city': None}

In [29]:
d2={}
d2['nareshit']='Ds'
d2['city']         #

KeyError: 'city'

$ Update $

In [35]:
# it inserts the particular items to the dictionary

d1 = {'a': 4,'b': 5,'c': 6}
d2 = {'b': 1,'d': 2}
d1.update(d2)
print(d1)

{'a': 4, 'b': 1, 'c': 6, 'd': 2}

In [ ]:
l1=[1,4,5]
l2

Update method will update a dictionary with elements from dictionary.
It modifies the dictionary

In [36]:
t1=[(1,2),(2,3)]
d1={}
d1.update(t1)
d1

{1: 2, 2: 3}

In [ ]:
- tuple
write an article on tuple

In [ ]:
- how to read
- type/max/min/len/sum
- index/mutable/
- in/for
- slice
- methods