In [2]:
number1=100
numner2 =200
number1    #100 is not coming
number2    #200 is latest so it is coming

NameError: name 'number2' is not defined

In [3]:
number1=100
number2=200
print(number1)    
print(number2)

100
200

In [4]:
print('hello')    #step1: hello
print('how')      #step2: how
print('are')      #step3: are
print('you')      #step4: you
print('hello')    #step5: hello is variable,is hello intoalised above

hello
how
are
you
hello

In [ ]:
# you written 500 lines of code
# you got error at 200 line
# after 200 line,201 to 500 will not execute

In [5]:
print(number1,number2)    # 100,200

100 200

In [6]:
print(number1)
print(number2)

100
200

In [7]:
print(number1)
print('-------')
print(200)
print('********')

100
-------
200
********

In [11]:
print('hai','how','are','you')
print('hai how are you')

hai how are you
hai how are you

In [15]:
print('hai',end='&  ')
print('how')

hai&  how

In [17]:
  print('hai',end=' ')
  print('%how')

hai %how

In [19]:
print('hai',end=' ')

hai

In [23]:
print('1',end=' ')
print('2',end=' ')
print('3')

1 2 3

In [27]:
number1=20
number2=40
add=number1+number2
print("the addition of number1 and number2 is",add)

the addition of number1 and number2 is 60

In [30]:
number1=20
number2=40
add=(number1+number2)
print("the addition of", number1,"and",number2,"is",add)

the addition of 20 and 40 is 60

In [32]:
# step-1: variable name='python'
#step-2:      city='hyd
#step-3:      age=10

In [33]:
name="python"
city="hyd"
age="20"
print("my name is",name,'im from',city,"iam",age,"years old")

my name is python im from hyd iam 20 years old

In [ ]:
# "the addition of 200 and 400 is 600"
# the addition of () and () is ()

In [37]:
num1=200
num2=400
add=num1+num2
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 200 and 400 is 600

In [38]:
name='python'
city='hyd'
age=20
print("my name is {}, im from {} and my age is {} year old".format(age,city,name))

my name is 20, im from hyd and my age is python year old

In [41]:
# step-1:  value1=200
# step-2:  value2=300
# step-3:  add=value1+value2
# step-4:  sub=value1-value2
# step-5:  mul=value1*value2
# step-6:  div=(round value1/value2)
# step-7:  print("the addition of {} and {} is {}".format(value1,value2,add))
# step-8:  print("the sub of {} and {} is {}" )

In [44]:
value1=200
value2=300
add=value1+value2
sub=value1-value2
mul=value1*value2
div=round(value1/value2)
print("the addition of {} and {} is {}".format(value1,value2,add))
print("the addition of {} and {} is {}".format(value1,value2,sub))
print("the addition of {} and {} is {}".format(value1,value2,mul))
print("the addition of {} and {} is {}".format(value1,value2,div))

the addition of 200 and 300 is 500
the addition of 200 and 300 is -100
the addition of 200 and 300 is 60000
the addition of 200 and 300 is 1

SyntaxError: invalid syntax (955282505.py, line 1)

In [46]:
val1 = 200  # manually i provide
val2 = 300  # i provided
add = val1+val2
print("the addition of {} and {} is {}".format(val1,val2,add))

the addition of 200 and 300 is 500

In [47]:
print(5/2)     # division
print(5//2)    # floor division=qutioent
print(5%2)     # modul us=reminder

2.5
2
1

** inputs**

In [48]:
input()

670

'670'

In [49]:
input("python")

pythonlanguage

'language'

In [51]:
name1=input("what is A for:")  # 'apple'
name2=input("what is B for:")
print(name1,name2)

what is A for:apple
what is B for:boll
apple boll

In [53]:
val1 = input("enter val1:")      # int('20')
val2 = input("enter val2:")
add = val1+val2
print("the addition of {} and {} is {}".format(val1,val2,add))

enter val1:20
enter val2:40
the addition of 20 and 40 is 2040

In [57]:
val1 = int(input("enter val1:"))      
val2 = int(input("enter val2:"))
add = int(val1)+int(val2)
print("The addition of {} and is {}".format(val1+val2,add))

enter val1:20
enter val2:30
The addition of 50 and is 50

In [58]:
int('200')------works
int('200.5')-----fall
float('200')=====works
float('200.5')===works

SyntaxError: invalid syntax (2719574104.py, line 3)

In [61]:
v1=input('enter v1:')
v2=int(input('enter v2:'))
v3=float(input('enter v3:'))
v4=eval(input('enter v4:'))

enter v1:10
enter v2:20
enter v3:30
enter v4:40

In [ ]:
# WAP ask the user enter a basic_salary
# ask the user enter DA amount
# ask the user enter HRA amount
# calculate total pay = basic_salary+DA+HRA


# step-1:
basic_salary=eval(input("enter a basic salary"))
DA=eval(input("enter DA amount"))
HRA=eval(input("enter HRA amount"))
total_pay=basic_salary=DA+HRA
print("the total salary is:",total"_pay)

In [ ]:
basic_salary

In [16]:
# WAP ask the user enter salary
#  ask the user tax percentage
# calculate how much tax user need to pay

salary=eval(input("enter the salary"))
tax_percentage=eval(input("enter your tax percentage"))
tax_amount=(salary*tax_percentage)/100
print("the total tax is",tax_amount)

enter the salary10000
enter your tax percentage20
the total tax is 2000.0

In [8]:
eval(input("enter anumber"))

enter anumber50

50

In [10]:
import random
random.randint(1,100)

1

In [11]:
import random
a=random.randint(1,100)
b=a*a
print("square of the number")

square of the number

In [18]:
import random
num=random.randint(1,100)
square=num*num
print("square of {} is {}",num,square)

square of {} is {} 2 4

In [6]:
number=eval(input("enter a number"))
square=number*number
print("square of the number is",number*square)

enter a number55
square of the number is 166375

In [1]:
#WAP ask the user enter a distance
#  ask the user enter a rate per distance
#calculate total charge




distance=eval(input("Enter a distance"))
rate=eval(input("enter a rate per distance:"))
total_charge=distance+rate
print("for {} km the charge is {} rs".format(distance,rate))

Enter a distance55
enter a rate per distance:20
for 55 km the charge is 20 rs

In [11]:
# ask the user enter total bill in dollars : 100
# manager: the dollars are not accepted
# user: what will accepted
# manager: only indian rupees
# ask the user enter one dollar is equal to how many rupees:80
# totalbill=100*80
# manager: thank you !

In [12]:
bill=eval(input("enter total bill in dollars:"))
print("manager cannot accept the dollars")
print("customer:only indian rupees are accepted how much the one dollar")
conversion_rate=eval(input("one dollar equal to 10:"))
total=bill*cr
print("the total amount is :",total)

enter total bill in dollars:10
manager cannot accept the dollars
customer:only indian rupees are accepted how much the one dollar
one dollar equal to 10:10

NameError: name 'cr' is not defined

In [9]:
# father and son
# father : which course you wants to do
# son    : i want to pursue data science course
# father :oh that is very nice
# father :may i know your jee rank
# son    :200000
# father :then how can you pursue
# son    :payment seat
# father :which college is offer
# son    :naresh it
# father :how much is the fee
# son    :20000
# father :how many sems
# son    :4
# father :how much total cost
# son    :4*20000




print("father : which course you wants to do")
print("son   :i want to pursue data science course")
print("father:oh thats very nice")
print("father:may i know your jee rank")
input()
print("father:then how can you pursue") 
print("son   :payment seat")
print("father :which college is offer")
input()
print("father :how much is the fee")
fee=eval(input())
print("father: how many sem")
sem=eval(input())
print("father: how much toal cost")
print(" total fee:",fee*sem)

father : which course you wants to do
son   :i want to pursue data science course
father:oh thats very nice
father:may i know your jee rank
200000
father:then how can you pursue
son   :payment seat
father :which college is offer
ni
father :how much is the fee
20000

TypeError: 'str' object is not callable

In [ ]:
# father and son/d
#father: which cousre you wants to do
#s/d: i want to pursue ds course
# father: oh! that is very nice!
# father: may i know your rank
# son:20000 
# father: then how can you pursue
# son: payment seat
# father: which college is offer
# son: naresh it
# father: how much is the fee
# son: 20000
# father: how many sem
# son: 4
# father: how much total cost
# son: 4*20000

In [5]:
print(" which cousre you wants to do")
print("i want to pursue ds course")
print(" oh! that is very nice!")
print("may i know your rank")
input()
print("then how can you pursue")
print("payment seat")
print("which college is offer")
input()
print('how much is the fee')
fee=eval(input())
print("how many sem")
sem=eval(input())
print("how much total cost")
print("total fee:",fee*sem)

 which cousre you wants to do
i want to pursue ds course
 oh! that is very nice!
may i know your rank
20000
then how can you pursue
payment seat
which college is offer
ni
how much is the fee
20000
how many sem
4
how much total cost
total fee: 80000

In [ ]:
#Ask the user to enter a number.print out the square of the number,

In [3]:
number=eval(input("enter a value"))
square=number*number
print("the square of {} is {}".format(number,square))

enter a value15
the square of 15 is 225

In [ ]:
#WAP a program that asks the user for a weight in kilograms and converts it to pounds.there are 2.2 pounds in a kilogram.

In [6]:
kilo_grams=float(input("enter a weight in kg to coverted into pounds:"))
pounds=kilo_grams*2.2
print(kilo_grams,"kilo_grams",pounds,"pounds")

enter a weight in kg to coverted into pounds:50.2
50.2 kilo_grams 110.44000000000001 pounds

In [ ]:
#Ask the user to enter a number x.print out x,2x,3x,4x,and 5x,each seperated by three dashes,like below.

In [7]:
x=eval(input("enter a  number:"))
print(x,2*x,3*x,4*x,5*x,sep='----')

enter a  number:10
10----20----30----40----50

In [ ]:
#WAP that asks the user to enter three numbers(use three seperate input statements).create variables called total and average
#that hold the sum and average of the three numbers and print out the values of total and average.

In [14]:
num1=eval(input("enter the first num"))
num2=eval(input("enter the second num"))
num3=eval(input("enter the third num"))
total=num1+num2+num3
average=total/3
print("total:",total)
print("average:",average)

enter the first num10
enter the second num20
enter the third num30
total: 60
average: 20.0

In [ ]:
#A lot of cell phones have tip calculators.write one.Ask the user for the price of the meal and the percent tip they want to 
#leave.Then print both the tip amount and the total bill with the tip included.

In [13]:
meal_price=float(input("enter the price of the meal:"))
tip_percentage=float(input("enter the tip percentage you want to leave:"))
total_bill=meal_price/tip_percentage*100
p=meal_price+total_bill
print("bill of meal:","total_bill:",p)

enter the price of the meal:500
enter the tip percentage you want to leave:100
bill of meal: total_bill: 1000.0

In [1]:
num1=float(input("enter the first num"))
num2=float(input("enter the second num"))
num3=float(input("enter the third num"))
total=num1+num2+num3
average=total/3
print("total:",total)
print("average:",average)

enter the first num10
enter the second num20
enter the third num30
total: 60.0
average: 20.0

In [3]:
num1=eval(input("enter a number1"))
num2=eval(input("enter a number2"))
add=num1+num2
print(add)

enter a number120
enter a number240
60

In [6]:
num1=eval(input("enter a number1:"))
num2=eval(input("enter a number2:"))
add=num1+num6
print(add)

enter a number1:10
enter a number2:15

NameError: name 'num6' is not defined

# possible errors:
1.name error
2.syntax errors'(' was never closed
3.zero division error:division by zero
4.type error:unsupported operand type(s) for/:'str'and'int'
5.missing parentheses in call to 'print'.did you mean print(...)

In [ ]:
## suppose you have written 500 lines of code 200 you got on error

# Try except
- there are two blocks
- one try block
- another is exception block
- your code will be there in try block
- error capture will happens in except block
- indentation : space
- red : space/indentation not maintained properly
- indentation has minimum 4 characters
- : is there,then indentation will be there

In [13]:
try:
    num1=10
    num2=0
    num3=30
    add=num1/num2   #10/0 ====> zero
    print(add)
except:
     print("error is there,check code")

error is there,check code

In [17]:
#WAP ask the user enter 3 numbers and find the average
try:
    num1=eval(input("enter number-1:"))
    num2=eval(input("enter number-2:"))
    num3=eval(input("enter number-3:"))
    average=(num1+num2+num3)/3
    print("The average of {},{} and {} is {}".format(num1,num2,num3,average))

except:
    print("check the code")

enter number-1:20
enter number-2:20
enter number-3:30
The average of 20,20 and 30 is 23.333333333333332

In [18]:
try:
    num1=eval(input("enter number-1:"))
    num2=eval(input("enter number-2:"))
    num3=eval(input("enter number-3:"))
    average=(num1+num2+num3)/0
    print("The average of {},{} and {} is {}".format(num1,num2,num3,average))

except Exception as e:
       print(e)

enter number-1:5
enter number-2:10
enter number-3:15
division by zero

In [20]:
#WAP ask the user enter a number ad find the square of the number

try:
    num1=eval(input("enter number-1:"))
    num2=eval(input("enter number-2:"))
    num3=eval(input("enter number-3:"))
    square=(num1*num2*num3)
    print("The square of {},{} and {} is {}".format(num1,num2,num3,square))
    
except:
    print("check the code")

enter number-1:10
enter number-2:20
enter number-3:30
The square of 10,20 and 30 is 6000

In [22]:
try:
    num=eval(input("enter a number"))
    print("the square of {} is {} ".format(num,num222*num))
except Exception as e:
    print(e)
    print('hello')

enter a number5
name 'num222' is not defined
hello

In [21]:
try:
    num=eval(input("enter a number:"))
    print("the square of {} is {}".format(num,num222*num))
    
except Exception as e:
    print('hai')
    print(e)
    print('hello')

enter a number:3
hai
name 'num222' is not defined
hello

In [23]:
try:
    num=eval(input("enter a number:"))
    print("the square of {} is {}".format(num,num222*num))
    
except Exception as e:
    print('hai')
    print(e)
    print('hello')
    
    print('python')
    print(1)
    print(2)

enter a number:6
hai
name 'num222' is not defined
hello
python
1
2

In [24]:
print('100')

100

In [ ]:
# only try block content is printed
- if your code is with out error,try block will execute
- if your code has error,it will redirect to except block
- what ever you written inside except block that will run
- try and exception is together
- once try and exception code are complete,it try to look any other lines af code are there

In [28]:
print("================")
print(3+5)
print('*****************')

try:
    num=eval(input("enter a number:"))
    print("the square of {} is {}".format(num,num222*num))  
    print('out')

except Exception as e:
    print('hai')
    print(e)
    print('hello')

    print('python')
    print(1)
    print(2)

================
8
*****************
enter a number:10
hai
name 'num222' is not defined
hello
python
1
2