In [1]:
# iam modifying the code

In [ ]:
# strings
# list
# dictionary
# tuple
# set

** How to read the strings **

In [2]:
string1='python'    # single quote
string1

'python'

In [3]:
string2="python"    # double quotes
string2

'python'

In [ ]:
### Triple quotes
# Doc string is used to say same information about your python code

In [4]:
"""
im creating a while condition
arguements: None
return:    None
"""
def hello():
    print("good morning")

In [ ]:
'hello python'  # I want highlite the python

In [5]:
string3='hello "python"'
print(string3)

hello "python"

In [6]:
string4="hello 'python'"
print(string4)

hello 'python'

In [ ]:
-type
-len
-max
-min

** type:

In [7]:
string1

'python'

In [8]:
type(string1)

str

** len:

In [9]:
len(string1)          # python #

6

** max-min:

In [10]:
string1='pP'
max(string1)     # python

# ASCII
#'A':

'p'

** ord-*chr

In [11]:
ord('p')  # it will provide ascii value of charord

112

In [12]:
ord('p')

112

In [13]:
string1='python'
max(string1)

'y'

In [14]:
string1='python'
max(string1),min(string2)

('y', 'h')

In [16]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [15]:
chr(112),chr(121),chr(116),chr(104),chr(111),chr(110)

('p', 'y', 't', 'h', 'o', 'n')

In [17]:
for i in range(len('python')):
    print(i)

0
1
2
3
4
5

# I want print p y t h o n
*** in:

In [20]:
string1='python'

'p' in string1
'y' in string1
't' in string1
'h' in string1
'o' in string1
'n' in string1

# i in string1

True

In [21]:
for i in string1:
    print(i)

p
y
t
h
o
n

- range() : you need to provide number inside the range
- in      : is used only for strings   
if you want print the letters using for loop go for in operator

In [22]:
print(ord('p'))
print(ord('y'))
print(ord('t'))
print(ord('h'))
print(ord('o'))
print(ord('n'))

print(ord(i))

112
121
116
104
111
110
110

In [25]:
for i in string1:
    print(ord(i))
    
    # the ascii value of p is 112

112
121
116
104
111
110

In [26]:
for i in (string1):
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of p is 112
the ascii value of y is 121
the ascii value of t is 116
the ascii value of h is 104
the ascii value of o is 111
the ascii value of n is 110

In [1]:
# Ascii value of A to Z
# package_name: string
import string

dir(string)

In [2]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [3]:
'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [4]:
for i in string.ascii_uppercase:
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of A is 65
the ascii value of B is 66
the ascii value of C is 67
the ascii value of D is 68
the ascii value of E is 69
the ascii value of F is 70
the ascii value of G is 71
the ascii value of H is 72
the ascii value of I is 73
the ascii value of J is 74
the ascii value of K is 75
the ascii value of L is 76
the ascii value of M is 77
the ascii value of N is 78
the ascii value of O is 79
the ascii value of P is 80
the ascii value of Q is 81
the ascii value of R is 82
the ascii value of S is 83
the ascii value of T is 84
the ascii value of U is 85
the ascii value of V is 86
the ascii value of W is 87
the ascii value of X is 88
the ascii value of Y is 89
the ascii value of Z is 90

In [5]:
for i in string.ascii_uppercase:
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of A is 65
the ascii value of B is 66
the ascii value of C is 67
the ascii value of D is 68
the ascii value of E is 69
the ascii value of F is 70
the ascii value of G is 71
the ascii value of H is 72
the ascii value of I is 73
the ascii value of J is 74
the ascii value of K is 75
the ascii value of L is 76
the ascii value of M is 77
the ascii value of N is 78
the ascii value of O is 79
the ascii value of P is 80
the ascii value of Q is 81
the ascii value of R is 82
the ascii value of S is 83
the ascii value of T is 84
the ascii value of U is 85
the ascii value of V is 86
the ascii value of W is 87
the ascii value of X is 88
the ascii value of Y is 89
the ascii value of Z is 90

In [12]:
for i in string.ascii_lowercase:
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of a is 97
the ascii value of b is 98
the ascii value of c is 99
the ascii value of d is 100
the ascii value of e is 101
the ascii value of f is 102
the ascii value of g is 103
the ascii value of h is 104
the ascii value of i is 105
the ascii value of j is 106
the ascii value of k is 107
the ascii value of l is 108
the ascii value of m is 109
the ascii value of n is 110
the ascii value of o is 111
the ascii value of p is 112
the ascii value of q is 113
the ascii value of r is 114
the ascii value of s is 115
the ascii value of t is 116
the ascii value of u is 117
the ascii value of v is 118
the ascii value of w is 119
the ascii value of x is 120
the ascii value of y is 121
the ascii value of z is 122

In [35]:
# what is the start and end of ascii numbers
ord('a')

97

In [36]:
for i in range(33,127):
    print(i,chr(i))

33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c
100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m
110 n
111 o
112 p
113 q
114 r
115 s
116 t
117 u
118 v
119 w
120 x
121 y
122 z
123 {
124 |
125 }
126 ~

In [37]:
for i in range(938,1000):
    print(i,chr(i))

938 Ϊ
939 Ϋ
940 ά
941 έ
942 ή
943 ί
944 ΰ
945 α
946 β
947 γ
948 δ
949 ε
950 ζ
951 η
952 θ
953 ι
954 κ
955 λ
956 μ
957 ν
958 ξ
959 ο
960 π
961 ρ
962 ς
963 σ
964 τ
965 υ
966 φ
967 χ
968 ψ
969 ω
970 ϊ
971 ϋ
972 ό
973 ύ
974 ώ
975 Ϗ
976 ϐ
977 ϑ
978 ϒ
979 ϓ
980 ϔ
981 ϕ
982 ϖ
983 ϗ
984 Ϙ
985 ϙ
986 Ϛ
987 ϛ
988 Ϝ
989 ϝ
990 Ϟ
991 ϟ
992 Ϡ
993 ϡ
994 Ϣ
995 ϣ
996 Ϥ
997 ϥ
998 Ϧ
999 ϧ

In [9]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [10]:
string.printable


# digits
# lower
# upper

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c'

In [43]:
# WAP ask the user find number of 'a' letters in a given string
# string='hai how are you how do you do'
# answer:3
#
# count=0
# first itearate the string using in and for loop
# print each letter ===== > i
# apply the if condition i=='a'
#                        count+=1



string='hai how are you and how do you do'
count=0
for i in string:
    if i=='a':
        count=count+1
print(count)        
        
        
 # step-1:    i='h'    'h'==='a'  F
 # step-2:

3

In [44]:
# WAP count the number of vowels in a given string
# string='hai how are you'
#7

string='hai how are you'
count=0
for i in string:
    #print(i)
    if i in 'aeiou':
        count=count+1
print(count)

7

In [50]:
''+'p'+'y'+'t'

'pyt'

In [ ]:
# WAPcount the number of unique vowels in a gievn string
# answer:5


string='hai how are you'
string1=''
count=0
for i in string:

In [51]:
string1=''
for i in 'python':
    string1=string1+i
print(string1)

python

In [ ]:
**concatenation **

In [11]:
str1='hai'
str2='how'
str1+str2

'haihow'

In [53]:
str1-str2  #

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [56]:
3*str2

'howhowhow'

In [55]:
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [57]:
str1+str1+str1

'haihaihai'

- how to read 
- single/double/triple
- type
- len
- in (how to iterate through the loop)
- max
- min
- concatanation

*index*

In [59]:
string1='python'   # 6 letters

In [ ]:
p  y  t  h  o  n
0  1  2  3  4  5

In [63]:
string1[0],string1[1],string1[2],string1[3],string1[4],string1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [64]:
for i in range(5):
    print(string1[i])
    
    
#
#i=1======== string1[1]======'y'

#

p
y
t
h
o

In [65]:
string1='python'

# i want to print letters using in operator
# i want to print letters using range operators
for i in string1:
    print(i)
    
for i in range(len(string1)):
    print(string1[i])

p
y
t
h
o
n
p
y
t
h
o
n

In [67]:
name='python class'

for i in range(len(name)):
    print("the index no of '{}' is {}".format(name[i],i))
    
   # i='p' name[' p ']='p'
# if you want to print any number

the index no of 'p' is 0
the index no of 'y' is 1
the index no of 't' is 2
the index no of 'h' is 3
the index no of 'o' is 4
the index no of 'n' is 5
the index no of ' ' is 6
the index no of 'c' is 7
the index no of 'l' is 8
the index no of 'a' is 9
the index no of 's' is 10
the index no of 's' is 11

In [ ]:
-How to read the strings
-doc string
-

In [20]:
string1='python'

In [ ]:
string1='python'

# i want to print the letters using for loop
# in
# range

In [21]:
 for i in string1:   # i means each letter
    print(i,end=' ')
    
    
for i in range(len(string1)):  # i means numbers 
        print(i,string1[1])

p y t h o n 0 y
1 y
2 y
3 y
4 y
5 y

In [11]:
'the index of p is 0'
'the index of y is 1'

'the index of y is 1'

In [22]:
for i in range(len(string1)):   # i means numbers 0
    print('the index of {} is {}'.format (string1[i],i))

the index of p is 0
the index of y is 1
the index of t is 2
the index of h is 3
the index of o is 4
the index of n is 5

In [ ]:
-6 -5 -4 -3 -2 -1
p  y  t  h  o  n
0  1  2  3  4  5 ========== >positive index

In [23]:
string1[-1]

'n'

In [95]:
string1[-6],string1[-5],string[-4],string[-3],string[-2],string[-1]

('e', 'l', 'c', 'o', 'm', 'e')

In [17]:
# iterate the for loop on string1
# print the letters using negative index
# the idea is first you need to print the numbers between -6 to -1 using for loop

for i in range(-6,0):
    print(i)

-6
-5
-4
-3
-2
-1

In [32]:
string1='python'
for i in range(-6,0):
    print("the positive index of {} is {}".format(string1[i],i))

the positive index of p is -6
the positive index of y is -5
the positive index of t is -4
the positive index of h is -3
the positive index of o is -2
the positive index of n is -1

In [28]:
string1='python'
for i in range(-6,0):
    print("the negative index of {} is {}".format(string1[i],i-6))

the negative index of p is -12
the negative index of y is -11
the negative index of t is -10
the negative index of h is -9
the negative index of o is -8
the negative index of n is -7

In [29]:
for i in range(-6,0):print(i,end=' ')
for i in range(0,6):print(i-6,end=' ')    # 0------------ -6  i-6
                                          # 1------------ -5

-6 -5 -4 -3 -2 -1 -6 -5 -4 -3 -2 -1

In [31]:
'the positive index is 0 and negative index is -6 for a letter p'


string1='python'
for i in range(len(string1)):
    print("the positive index is {} and negative index is {} for {}".format(i,string1[i],i-6))

the positive index is 0 and negative index is p for -6
the positive index is 1 and negative index is y for -5
the positive index is 2 and negative index is t for -4
the positive index is 3 and negative index is h for -3
the positive index is 4 and negative index is o for -2
the positive index is 5 and negative index is n for -1

In [47]:
for i in range(-len(string1)):
    print("the positive index of {} is {}".format(string1[i],i))
    
    
for i in range(-len(string1)):
    print("the negative index of {} is {}".format(string1[i],i))
    
    
for i in range(-len(string1)):
    print("the positive index of {} and negative index is {} for {}".format(i,string1[i],i-6))

In [40]:
for i in range(-len(string1),0):
    print("the positive index of {} is {}".format(string1[i],i+6))

the positive index of p is 0
the positive index of y is 1
the positive index of t is 2
the positive index of h is 3
the positive index of o is 4
the positive index of n is 5

In [43]:
for i in range(-len(string1),0):
    print(i,i+6)

-6 0
-5 1
-4 2
-3 3
-2 4
-1 5

In [46]:
i=0
while i<len(string1):
    print("the positive index is {} and negative index is {} for {}".format(i,i-6,string1[i]))
    i=i+1

the positive index is 0 and negative index is -6 for p
the positive index is 1 and negative index is -5 for y
the positive index is 2 and negative index is -4 for t
the positive index is 3 and negative index is -3 for h
the positive index is 4 and negative index is -2 for o
the positive index is 5 and negative index is -1 for n

In [51]:
string1='hai how are you'
count=0
for i in string1:
    if i=='a':
        count+=1
print(count)

2

In [50]:
string1='hai how are you'
count=0
for i in range(len(string1)):
    if string1[i]=='a':
        count+=1
print(count)

2

- Mutable and immutable concept 
- mutable ======we can change
- immutable ======we can not change the value by using index operations
- strings are immutable

In [13]:
string1='python'
# i want change 'p' ====== 'p'
# o/p:     'python'
string1[0]='p'

TypeError: 'str' object does not support item assignment

In [52]:
list1=[100,200,300]  # 100 ======1000
list1[0]=1000
list1

[1000, 200, 300]

Slice

In [ ]:
h  a  i     h  o  w     a  r  e      y  o  u
0  1  2  3  4  5  6  7  8  9 10 11 12  13  14

In [58]:
string1='hai how are you'
string1[2:10]

'i how ar'

In [56]:
string='hai how are you'
string

'hai how are you'

In [57]:
string1[:]

# nothing mentioned means take start and last letter

'hai how are you'

In [59]:
string1[::]

# start=0
# stop=last letter len(string1)
# step=+1

'hai how are you'

In [60]:
string1[2:10:-3]

''

In [61]:
string1='hai how are you'
string1[2:10]
string1[2:10:3]
string1[:]
string1[::]

'hai how are you'

In [ ]:
for i in range(2,10,-3):print(i)

In [ ]:
-15    -14   -13    -12    -11    -10    -9     -8     -7     -6     -5      -4      -3      -2     -1
h        a    i              h      o      w            a      r      e               y       o       u
0        1    2      3       4      5      6     7      8      9      10      11      12      13      14

In [30]:
string[-8:-15:-1]

TypeError: 'module' object is not subscriptable

In [ ]:
string[2:14:2]     ##possible
string[2:14:-2]    ## not possible
string[2:-14:2]    ## not possible
string[2:-14:-2]   ## possible
string[-2:-14:-2]  ## not posible
string[-2:14:2]    ## possible
string[-2:-14:-2]  ## not possible

In [63]:
string[2:14:2]

'ihwaey'

In [64]:
string[2:14:-2]

''

In [65]:
string[2:-14:-2]


# start=2
# stop-14+1=-13
# 2

'i'

In [66]:
string[2:-14:2]

''

In [67]:
string[-2:-14:-2]

'o r o '

In [68]:
string[-2:14:2]

'o'

In [69]:
string[-2:-14:-2]

'o r o '

- reading methods
- single/double/triple(doc string)
- type
- len
- max
- min
- concatenation
- subtraction/multiply/division
- in 
- index
- mutable
- immutable

String Methods

In [75]:
import <package_name>    
dir(<package_name>)
help(<package_name>.<method_name>)

SyntaxError: invalid syntax (2487830194.py, line 1)

In [76]:
dir(' ')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

capitalize

In [77]:
string1='welcome'
help(string1.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [78]:
string1='welcome'
string1.capitalize()

'Welcome'

In [79]:
string1.upper()

'WELCOME'

In [81]:
string1.lower()

'welcome'

In [82]:
string1='welcome'
print(string1.capitalize())
print(string1.upper())
print(string1.lower())

Welcome
WELCOME
welcome

In [88]:
string1='hai how are you'
# how many 'a's are there

In [89]:
string1.count('a')

2

In [96]:
count=0
for i in string1:
    if i=='a':
        count+=1

In [18]:
string1='welcome'
# output: 'welcome'
# idea:
# str1=we
# str2=come
# index
# slice
# concatenation= str1+'L'+str2

In [19]:
string1='welcome'
str1=string1[:2]
str2=string1[3:]
str1+'L'+str2

'weLcome'

In [20]:
string1.replace('1','L')

'welcome'

In [3]:
string1='hai how are you'
## how many 'a are there'
string1.count('a')

2

In [ ]:
string1='ola ola ola'

In [6]:
string1='ola ola ola'
# ola ola ola
#012 3 456 7 8910
# we are counting the number of 'a' from index 4
print(string1.count('a',4))
print(string1.count('a',6))
print(string1.count('a',4,6))         # 4 and 5
print(string1.count('a',4,7))         # 4 5 6
print(string1.count('A',4))           # 0
print(string1.count('A'.lower(),4))   # 2
print(string1.count('a'.upper(),4,7))

2
2
0
1
0
2
0

In [7]:
'ola ola ola'.count('a')

3

In [8]:
string1='ola ola ola'
count=0
for i in string1:
    if i=='a':
        count+=1
print(count)

3

In [10]:
# how many 'ola' are there
# do till now what we completed use that except count method

string='ola ola ola'
count=0
for i in range(len(string1)):
    if string1[i:i+3]=='ola':
          count+=1
print(count)
# i=0   string1[0:3]:   0 1 2    :  ola
# i=1   string1[1:4]:   1 2 3    :  la

3

In [11]:
string1.count('a')     # this as developer
string1.count('ola')   # as developer mode

3

 replace

In [12]:
string1='welcome'
# replace 'l' with 'L'
string1.replace('1','L')

'welcome'

In [16]:
string1='welcome'
# replace 'l' with 'L'
string1.replace('1','@')

'welcome'

In [17]:
string1='restart'
# replace 'r' with '$'
string1.replace('r','$',count=1)

TypeError: str.replace() takes no keyword arguments

In [18]:
string1='restart rrr'
# replace 'r' with '$'
string1.replace('r','$',1)

'$estart rrr'

In [22]:
len(string1)
max(string1)   # string1.max()

't'

In [25]:
string1='restart'
s1=string1[0]
s2=string1[1:].replace('r','$')
s1+s2
# 0/p:  'resta$t'

# do only with what we completed till now

'resta$t'

In [21]:
string1='restart'
# replace 'r' with '$
string1.replace('r','$',1)

'$estart'

In [24]:
string1='restart'
s1=string1[0]
s2=string1[1:].replace('r','$')
s1+s2

'resta$t'

In [27]:
string1[::-1].replace('r','$',1)[::-1]

'resta$t'

index

In [28]:
string1='welcome python'
string1.index('c')

# index of 'c'

3

In [38]:
sring1='hai how are you and'
# how many 'a' are there
# what are the indexes of 'a'

count=0
for i in string1:
    if i=='a':
        count+=1
        
print(count) 

string1.count('a')

0

0

In [53]:
for i in range(len(string1)):
    if string[i]=='a':
        print(i)

2
6
10

IndexError: string index out of range

In [54]:
string1.index('a')   #  only first accurance

1

In [57]:
string1='hai hai hai hai'
i1=(string1.index('a'))
i2=(string1.index('a',i1+1))  
i3=(string1.index('a',i2+1))
i4=(string1.index('a',i3+1))
i5=(string1.index('a',i4+1))
print(i1,i2,i3,i4,i5)

ValueError: substring not found

In [48]:
string1.index('a',string1.index('a')+1)

5

In [56]:
string1='hai hai hai hai hai'
# i want to first occurance of 'a'
string1.index('a')
# second occurance of 'a'
string1.index('a',i1+1)
string1.index('a',i2+1)

9

In [ ]:
string1.index('a',string1.index('a',string1.index))

In [ ]:
string1='welcome helo'
string1.index('1')
string1.index('1',string1.index('1')+1)
 # string1.index('1',string1.index('1',string1.index('L',string1.index)))

find

In [2]:
# take one string1
# string1.find()
# apply shift+tab
# road what is is says
# implement that

string1='hai hai'
string1.find('z')      # no error

# if substring not found it returns -1

string1.index('z')
# value error: sustring not found

string1.count('z')    # no error
# returns

ValueError: substring not found

- capitalize/upper/lower/casefold
- index/find
- count
- replace

In [1]:
str1='hai how are you,im good'
str1.index('i')  # first accurance

2

In [2]:
str1.index('i',str1.index('i')+1)

16

 ## strip-lstrip-rstrip

In [6]:
str1=' hello how are you '
str2=" hello how are you"
str3="hello how are you "

# i want remove the spaces
# if you want to remove the spaces both side use strip method
# if you want to remove the spaces only left side then use lstrip:left strip
# if you want to remove the spaces only right side then use rstrip:right strip

In [7]:
str1

' hello how are you '

In [10]:
print(str1.strip())
print(str1.lstrip())
print(str1.rstrip())

hello how are you
hello how are you
 hello how are you

In [11]:
print(str3.strip())
print(str2.lstrip())
print(str2.rstrip())

hello how are you
hello how are you
 hello how are you

In [12]:
print(str3)

hello how are you

In [3]:
str3

NameError: name 'str3' is not defined

In [24]:
str1='a.b@c.com'

first_dot=str1.index('.')
second_dot=str1.index('.',first_dot+1)

str1[str1.find('@')+1:second_dot]

# extract first name: python
# extract second name: anaconda
# extract company name: nareshit

# do not count it
# use methods find/index print("extract first name:".format(python))

'c'

In [ ]:
str1.find('-')
str3 :str3.find('-')

In [17]:
str1[0:6],str1[7:15],str1[16:24]
str1.find('.')

6

In [21]:
str1[0:str1.find('.')]
str1[7:15]

'anaconda'

In [25]:
str1='3.1489'
# extract 3
# extract 1489

str1[0]

'3'

In [26]:
str1.index('.')-1

0

In [27]:
str1.index('.')+1

2

In [28]:
str1[str1.index('.')-1]
str1[str1.index('.')+1:]

'1489'

In [31]:
str1.index('.')+1

2

Startswith-Endswith

In [34]:
str1='hai how are you'

In [36]:
str1.startswith('hai')
str1.startswith('h')

True

In [37]:
str1.startswith('hai')

True

In [38]:
str1.endswith('hai')

False

In [ ]:
# take one string1
# string1.isalnum()
# isalpha
# isnumeric
# isupper
# islower

In [40]:
string1='abc'
string2='123'
string3='abc123'
string4='ABC'
string1.isnumeric()
        .isalpha
        .isnumeric
        .isupper
        .islower

IndentationError: unexpected indent (4009342380.py, line 6)

In [42]:
str1='90hai hello 8 888how are you'
str1.isalnum()

False

In [44]:
str1='abc.123'

split

In [45]:
str1='hai how are you'
str1.split()

# if i not provide anything inside brackets space

['hai', 'how', 'are', 'you']

In [46]:
str1='hai how,are you'
str1.split(',')

['hai how', 'are you']

In [47]:
str1='hai how,are you'
str1.split('a')  #h i how, re you

['h', 'i how,', 're you']

In [48]:
str1='%%%%hello%%%%'
str1.strip('%')

'hello'

In [ ]:
- capitalize/upper/lower/casefold
- index/find
- count
- replace
- lstrip/rstrip/strip
- startswith/endswith
- isalpha/isnumeric/isalnum
- split

In [ ]:
# WAP to identify the longest word and shortest word in a given sentence
# WAP to identify the most repeated word in a given sentence
# WAP out of 3 strings 'hyd','blr','mumbai' which is greater and which lower

In [ ]:
Basic python========== assignment

certification


writeup on list

- how to read the strings
- single quotes/double quotes/triple quotes
- doc string
- type
- max
- min
- len
- addition of two strings(concatenation)
- multiplication
- subtraction
- division
- in operator(for loop)
- index
- mutable condition
- slice
- string method:
    -capitalize/upper/lower/casefold
    - index/find
    - count
    - replace
    - lstrip/rstrip/strip
    - startswith/endswith
    - isalpha/isnumeric/isalnum
    - split