Tuples

- A tuple in python is similar to a list
- The difference between the two is that we cannot change the elements of a tuple
- Once it is assigned whereas we can change the elements of a list

In [29]:
my_tuple=()
print(my_tuple)

()

In [30]:
teju=("hello how are you")
print(teju)

hello how are you

Index

- We can use index operator [] to access an item in a tuple,where the index starts from 0

In [31]:
teju=("h","i","m","e","s","h")

In [32]:
print(teju[0])
print(teju[1])
print(teju[2])
print(teju[3])
print(teju[4])
print(teju[5])

h
i
m
e
s
h

Negative Index

- Python allows negative indexing for its sequences.

In [34]:
teju=("h","i","m","e","s","h")

In [36]:
print(teju[-2])

s

In [37]:
print(teju[-0])
print(teju[-4])
print(teju[-5])
print(teju[-3])
print(teju[-2])
print(teju[-1])

h
m
i
e
s
h

Slicing

We can access a range of items in a tuple by using the slicing operator colon

In [38]:
teju=("h","i","m","e","s","h")

In [42]:
print(teju[1:3])

('i', 'm')

In [43]:
print(teju[3:6])

('e', 's', 'h')

In [44]:
print(teju[0:4])

('h', 'i', 'm', 'e')

In [45]:
print(teju[0:6])

('h', 'i', 'm', 'e', 's', 'h')

Count

The count() method returns the number of times a specified value appears in the tuple

In [55]:
teju=(9,0,5,2,8,0,3,1,2,9)
g=teju.count(2)
print(g)

2

In [56]:
teju=(9,0,5,2,8,0,3,1,2,9)
p = teju.count(9)
print(p)

2

Len

Return the number of elements in a tuple

In [57]:
teju=(9,0,5,2,8,0,3,1,2,9)
print(len(teju))

10

In [58]:
teju=("p","a","p","p","a")
print(len(teju))

5

Min

returns the elements from the tuple with minimum values

In [65]:
teju=("h","i","m","e","s","h")
min(teju)

'e'

Max

returns the elements from the tuple with minimum value

In [64]:
teju=("h","i","m","e","s","h")
max(teju)

's'

Sum

- Python sum () function that returns the sum of all numerical values provided in a iterate
- The numerical values that are passed in the function can be integer and floating-point numbers as well
- In python one of the most used functions is the sum

In [66]:
teju=(9,0,5,2,8,0,3,1,2,9)
result= sum(teju)
print(result)

39

Sort

The sort() method sorts the items of a list in ascending or descending order

In [67]:
def teju(p):
    return p['year']

cars =[
    {'car':'ford','year': 2005},
    {'car': 'mitsubishi','year':2000},
    {'car':'BMW','year':2019},
    {'car':'vw','year':2011}
]

cars.sort(key=teju)
print(cars)

[{'car': 'mitsubishi', 'year': 2000}, {'car': 'ford', 'year': 2005}, {'car': 'vw', 'year': 2011}, {'car': 'BMW', 'year': 2019}]